<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MyServlet</servlet-name>
  	<display-name>MyServlet</display-name>
  	<description></description>
  	<servlet-class>idvorskij.labs.journal.controllers.MyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Paginator</servlet-name>
  	<display-name>Paginator</display-name>
  	<description></description>
  	<servlet-class>idvorskij.labs.journal.controllers.Paginator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SortRegistrator</servlet-name>
  	<display-name>SortRegistrator</display-name>
  	<description></description>
  	<servlet-class>idvorskij.labs.journal.controllers.SortRegistrator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Updator</servlet-name>
  	<display-name>Updator</display-name>
  	<description></description>
  	<servlet-class>idvorskij.labs.journal.controllers.Updator</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyServlet</servlet-name>
  	<url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Paginator</servlet-name>
  	<url-pattern>/Paginator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SortRegistrator</servlet-name>
  	<url-pattern>/SortRegistrator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Updator</servlet-name>
  	<url-pattern>/Updator</url-pattern>
  </servlet-mapping>
</web-app>
